.search {
  display: flex;
  height: 3.5rem;
  width: 75%;
  background: #fff;
  padding: 0 1.5rem;
  border-radius: 59px;
  margin-bottom: 2rem;
}

.searchInput {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}