.container {
  padding: 0 5rem;
}

.nav {
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 2rem 4rem 3rem 4rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 .5rem;
  }

  .nav {
    padding-top: 1rem;
  }

  .footer {
    display: inline-block;
    padding: 2rem;
  }
}