.stat-bar {
  display: flex;
  margin: auto;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;
}

.stat-bar__cell--unfilled {
  width: 100%;
  height: 1rem;
  background: #E0E0E0;
  border-radius: 8px;
  margin-right: 1rem;
}

.stat-bar__cell--filled {
  width: 100%;
  height: 1rem;
  background: #544439;
  border-radius: 8px;
  margin-right: 1rem;
}