.header {
  width: 100%;
  background-color: #E3E1DC;
  border-radius: 24px;
}

.cat-background {
  background: url('./../public/HeroImagemd.png') no-repeat right #050709;
  color: #fff;
  padding: 5rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.cat-background__container {
  width: 46%;
}

.cat-background__title {
  margin-bottom: 5rem;
  font-weight: normal;
}

.discover-breeds {
  padding: 3rem 5rem;
}

.discover-breeds__title-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 3rem 0;
}

.discover-breeds__title {
  max-width: 30rem;
}

.discover-breeds__link {
  align-self: flex-end;
  color: gray;
  font-weight: 500;
}

.cat-display {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  height: 23rem;
  padding-bottom: 3rem;
}

.cat-display::after {
  display: block;
  content: '';
  width: 3.5rem;
  height: 70%;
  background-color: #DEC68B;
  border-radius: 14px;
  position: absolute;
  bottom: 20%;
  left: 0;
  margin-left: -1rem;
  z-index: 1;
}

.cat-display__image {
  border-radius: 24px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.cat-benefits {
  display: flex;
}

.benefits-container {
  width: 50%;
  padding: 5rem;
  margin: auto;
}

.benefits-container--flex {
  width: 50%;
  padding: 5rem;
  margin: auto;
  display: flex;
}

.benefits-container__title {
  position: relative;
  max-width: 30rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.benefits-container__title::after {
  display: block;
  content: '';
  width: 15%;
  height: 3px;
  background-color: black;
  border-radius: 77px;
  position: absolute;
  top: 0;
  left: 0;
}

.benefits-container__text {
  margin-bottom: 3rem;
}

.benefits-container__link {
  color: gray;
  font-weight: 500;
}

.image-container {
  width: 50%;
}

.image2 {
  position: relative;
  overflow: hidden;
  height: 12rem;
  border-radius: 24px;
}

.image1 {
  position: relative;
  overflow: hidden;
  height: 24rem;
  width: 75%;
  border-radius: 24px;
  margin-top: 2rem;
  margin-left: auto;      /* Aligns the image to the right */
}

.image3 {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 30rem;
  border-radius: 24px;
  margin-left: 2rem;
}

@media screen and (max-width: 1150px) {
  .cat-background {
    background: url('./../public/HeroImagemd.png') no-repeat right #050709;
  }

  .cat-background__container {
    width: 60%;
  }

  .discover-breeds__title {
    margin-right: 1rem;
  }

  .cat-display {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    height: 50rem;
  }

  .cat-display::after {
    height: 30%;
    bottom: 65%;
  }

  .cat-benefits {
    display: inline-block;
  }

  .benefits-container {
    width: 100%;
    padding: 3rem 0;
  }

  .benefits-container--flex {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .cat-background {
    background: url('./../public/HeroImagesm.png') no-repeat right #050709;
    height: 15rem;
    padding: 1rem 2rem 2rem 2rem;
  }

  .cat-background__container {
    width: 50%;
    height: 20rem;
  }

  .cat-background__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .discover-breeds {
    padding: 2rem;
  }

  .discover-breeds__title-container {
    display: inline-block;
  }

  .discover-breeds__title {
    margin-bottom: 1rem;
  }

  .cat-display {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    height: 25rem;
  }

  .cat-display::after {
    height: 25%;
    bottom: 70%;
  }

  .cat-benefits {
    display: inline-block;
  }

  .benefits-container {
    width: 100%;
    padding: 2rem 1rem;
  }

  .benefits-container--flex {
    width: 100%;
    padding: 2rem 1rem;
  }
}